<div #container>
  <canvas #panel
          [width]="panelSize.width"
          [height]="panelSize.height"
          (mousedown)="startPoint($event)"
          (mousemove)="movePoint($event)"
          (mouseup)="endPoint($event)"
          (touchstart)="startPoint($event)"
          (touchmove)="movePoint($event)"
          (touchend)="endPoint($event)"
  ></canvas>
</div>
